CompliantSystem.API/bin
CompliantSystem.API/appsettings.json
CompliantSystem.API/obj
CompliantSystem.Application/bin
CompliantSystem.Application/obj
CompliantSystem.Domain/bin
CompliantSystem.Domain/obj
CompliantSystem.Infrastructure/bin
CompliantSystem.Infrastructure/obj
CompliantSystem.Persistence/bin
CompliantSystem.Persistence/obj
CompliantSystem.Persistence/Migrations
test/CompliantSystem.UnitTest/bin
test/CompliantSystem.UnitTest/obj
test/CompliantSystem.UnitTest/Tester.sh
test/CompliantSystem.UnitTest/TestCoverage
test/CompliantSystem.UnitTest/.config
test/CompliantSystem.UnitTest/coveragereport
.vs
Request.http
.env
