ComplaintSystem.API/bin
ComplaintSystem.API/appsettings.json
ComplaintSystem.API/obj
ComplaintSystem.Application/bin
ComplaintSystem.Application/obj
ComplaintSystem.Domain/bin
ComplaintSystem.Domain/obj
ComplaintSystem.Infrastructure/bin
ComplaintSystem.Infrastructure/obj
ComplaintSystem.Persistence/bin
ComplaintSystem.Persistence/obj
ComplaintSystem.Persistence/Migrations
test/ComplaintSystem.UnitTest/bin
test/ComplaintSystem.UnitTest/obj
test/ComplaintSystem.UnitTest/Tester.sh
test/ComplaintSystem.UnitTest/TestCoverage
test/ComplaintSystem.UnitTest/.config
test/ComplaintSystem.UnitTest/coveragereport
.vs
Request.http
.env
